* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --primary-color: #1ebfc1;
  --secondary-color: #2ac9bf;
}

/* khôi phục lại cỡ chữ mặt định theo rem */
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* ==================Common================== */
a {
  text-decoration: none;
}

.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heading-lv1 {
  color: #0d1111;
  font-size: 6.2rem;
  font-weight: 700;
}

.heading-lv2 {
  color: #0d1111;
  width: 577px;
  font-size: 4.2rem;
  font-weight: 700;
}

.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

/* ==================Header================== */
.header.fixed {
  position: sticky;
  z-index: 1;
  top: -52px;
}

.header .body {
  padding: 64px 0 8px;
  display: flex;
  align-items: center;
}

.header .nav {
  min-width: 446px;
  margin-left: auto;
}

.header .nav ul {
  gap: 39px;
  display: flex;
}

.header .nav li a {
  color: #2f3a3b;
  font-size: 1.6rem;
}

.header .nav li a:hover {
  text-shadow: 1px 0 0 currentColor;
}

.header .nav li.active a {
  font-weight: 600;
}

.header .actions {
  display: flex;
  gap: 24px;
  min-width: 254px;
}

.header .actions .btn-sign-in {
  margin-left: 177px;
  color: #494949;
  font-size: 1.6rem;
  text-align: center;
}

.header .actions .btn-sign-up {
  min-width: 108px;
  color: var(--primary-color);
  font-size: 1.6rem;
  font-weight: 600;
  padding: 12px 24px;
  border-radius: 6px;
  border: 1px solid var(--primary-color);
}

.header .actions .btn-sign-up:hover {
  color: white;
  background: var(--primary-color);
}

/* ==================Main commom================== */
.main .btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--primary-color);
}

/* ==================Hero================== */
.hero {
  margin-top: 54px;
  margin-bottom: 8px;
}

.hero .body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero .main-content {
  margin-bottom: 79px;
}

/* ==================Hero left================== */
.content-block .upercase {
  color: #767e7e;
  font-size: 1.4rem;
}

.content-block .content-block {
  width: 39%;
  margin-top: 93px;
}

.content-block .heading-lv1 {
  margin-top: 18px;

  line-height: 1.16;
}

.content-block .normal-p {
  width: 374px;
  margin-top: 46px;
  color: #9da6a5;
  font-size: 1.8rem;
  line-height: 1.78; /* 177.778% */
}

.content-block .actions {
  margin-top: 52px;
  display: flex;
  align-items: center;
}

.content-block .actions .btn-get-stated {
  padding: 21px 41px;
  min-width: 186px;
  border-radius: 14px;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
}

.content-block .actions .watch {
  margin-left: 50px;
  border-radius: 50%;
  border: none;
  background-color: transparent; /*Trong suot*/
  display: flex;
  align-items: center;
  cursor: pointer;
}

.content-block .actions .watch .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 62px;
  height: 62px;
  border-radius: 62px;
  background: #fff;
  box-shadow: 0px 22px 50px 0px rgba(0, 0, 0, 0.05);
}
/* ==================Hero right================== */
.media-block {
  position: relative;
  display: flex;
  margin-left: 71px;
  width: 641px;
}

.media-block .img {
  background: #e0f7f6;
  object-fit: cover;
}

.media-block .hero-img {
  width: 576px;
  margin-left: 65px;
}

.media-block .logo-courses {
  display: flex;
  align-items: center;
  position: absolute;
  left: 25px;
  top: 149px;
  width: 157px;
  border-radius: 18px;
  background: #fefefd;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.media-block .logo-courses .logo {
  position: relative;
  justify-content: center;
  display: flex;
  margin-top: 17px;
  margin-bottom: 18px;
  margin-left: 25px;
}

.media-block .logo-courses .logo .book1 {
  /* position: absolute; */
  z-index: 1;
}

.media-block .logo-courses .logo .book2 {
  position: absolute;
  z-index: 2;
  margin: 28px 4px 8px;
}

.media-block .logo-courses .courses {
  width: 55px;
  margin-top: 22px;
  margin-bottom: 23px;
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
  margin-left: 16px;
}

.media-block .schedules {
  position: absolute;
  align-items: center;
  bottom: 46px;
  left: 0;
  width: 124px;
  height: 132px;
  border-radius: 24px;
  background: #fff;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.media-block .schedules .title {
  display: inline-block;
  margin-top: 16px;
  margin-left: 36px;
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
}

.media-block .schedules .color-b {
  margin: 16px 25px 23px;
}

.media-block .color-b .high {
  margin-top: 12px;
}

.media-block .color-b .low {
  margin-top: 10px;
}

.media-block .color-b .none {
  margin-top: 16px;
  margin-left: 24px;
}

.media-block .active-student {
  position: absolute;
  right: 45px;
  bottom: 41px;
  width: 207px;
  border-radius: 24px;
  background: #fefefd;
  box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
}

.media-block .desc {
  margin-left: 35px;
  margin-top: 17px;
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
}

.media-block .img-list {
  display: flex;
  margin: 8px 35px 17px 42px;
}

.media-block .active-student .more {
  background: #1ebfc1;
  border-radius: 50%;
  width: 33px;
  height: 33px;
  margin-left: -7px;
}

.media-block .active-student .more p {
  margin-top: 9px;
  margin-left: 5px;
  margin-right: 4px;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
}

.media-block .small-img {
  width: 33px;
  height: 33px;
  margin-left: -7px;
  object-fit: cover;
  border-radius: 50%;
}

/* ==================Features================== */
.features {
  margin-top: 122px;
  margin-bottom: 8px;
}

.features .body {
  width: 88%;
}

.features .d1 {
  color: #767e7e;
  font-size: 1.2rem;
  font-weight: 700;
}

.features .heading-lv2 {
  margin-top: 18px;
  line-height: 1.33;
}

.features .d2 {
  margin-top: 18px;
  width: 590px;
  color: #767e7e;
  font-size: 1.8rem;
  font-weight: 400;
}

.feature-list {
  margin-top: 80px;
  display: flex;
}

.feature-list .desc2 {
  margin-top: 26px;
  color: #0d1111;
  font-size: 2rem;
  font-weight: 600;
}

.feature-list .desc3 {
  margin-top: 16px;
  color: #9da6a5;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.69;
}

.feature-list .live-class {
  width: 168px;
}

.feature-list .discuss {
  width: 223px;
  margin-left: 209px;
}

.feature-list .task {
  width: 224px;
  margin-left: 200px;
}

/* ==================Popular Courses================== */
.courses {
  margin: 122px 0 8px;
}

.courses .d1 {
  color: #767e7e;
  font-size: 1.2rem;
  font-weight: 700;
}

.courses .heading-lv2 {
  margin-top: 18px;
  line-height: normal;
}

.courses .check-out {
  margin-top: 19px;
  display: flex;
  justify-content: space-between;
}

.check-out .d3 {
  width: 525px;
  color: #767e7e;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.78;
}

.check-out .view-courses {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #1ebfc1;
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.courses .course-list {
  margin-top: 79px;
  display: flex;
  gap: 47px;
}

.course-list .item {
  position: relative;
}

.course-list .image {
  width: 359px;
  height: 393px;
  object-fit: cover;
  border-radius: 8px;
  opacity: 0.35;
  background: #d0efed;
}

.course-list .info {
  position: absolute;
  top: 322px;
  left: 17px;
  right: 17px;
  width: 325px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
}

.course-list .heading-lv3 {
  margin-top: 18px;
  margin-left: 25px;
  color: #0d1111;
  font-size: 2.2rem;
  font-weight: 700;
}

.course-list .desc1 {
  margin-top: 16px;
  margin-left: 25px;
  color: #767e7e;
  font-size: 1.6rem;
  font-weight: 400;
}

.course-list .desc1 strong {
  color: #0d1111;
  font-size: 2.2rem;
  font-weight: 700;
}

.course-list .desc2 {
  margin-top: 13px;
  margin-left: 25px;
  color: #9da6a5;
  font-size: 1.4rem;
  font-weight: 400;
}

.course-list .dots {
  margin-top: 18px;
  display: flex;
  margin-left: 25px;
  gap: 10px;
  margin-bottom: 29px;
}

.course-list .dots .desc2 {
  margin-top: 0px;
  margin-left: 0;
  display: inline-flex;
  align-items: center;
}

.course-list .dots .desc2:before {
  content: "";
  display: inline-block;
  margin-right: 10px;
  width: 6px;
  height: 6px;
  background-color: var(--primary-color);
  border-radius: 50%;
}

/* ==================View Courses================== */
.view-courses {
  margin-top: 389px;
  margin-bottom: 8px;
}

.view-courses .body {
  margin-left: 154px;
  display: flex;
  width: 74%;
  justify-content: center;
  gap: 200px;
}

.view-courses .desc {
  margin-top: 36px;
  color: #767e7e;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
}

/* ==================Feedback================== */
.feedback {
  margin: 256px 0 8px;
}

.feedback .body {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feedback .feedback-left {
  width: 36%;
  margin-top: 37px;
  margin-bottom: 37px;
}

.feedback-left .desc1 {
  margin-top: 27px;
  width: 419px;
  color: #5d6564;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.5; /* 150% */
}

.feedback-left .desc2 {
  margin-top: 33px;
  color: #767e7e;
  font-size: 1.6rem;
  font-weight: 400;
  display: inline-flex; /*thẻ cha chỉ chứa vừa nội dung của thẻ con*/
  align-items: center;
}

.feedback-left .desc2 span {
  color: #070707;
  font-weight: 500;
  margin-right: 5px;
}

.feedback-left .desc2::before {
  content: "";
  margin-right: 5px;
  display: inline-block;
  width: 8px;
  height: 2px;
  background-color: #070707;
}

.feedback-left .nav {
  margin-top: 52px;
  gap: 30px;
  display: flex;
}

.feedback-left .icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--primary-color);
}

.feedback-left .small-icon {
  margin: 19px 22px;
}

.feedback-right {
  width: 58%;
  margin-left: 72px;
}

.feedback-right .img {
  position: absolute;
  border-radius: 50%;
  width: 78px;
  height: 78px;
  object-fit: cover;
}

.feedback-right .img.img1 {
  right: 601px;
}

.feedback-right .img.img2 {
  bottom: 389px;
  top: 0px;
  height: 92px;
  right: 443px;
  width: 92px;
  height: 92px;
}

.feedback-right .img.img3 {
  right: 389px;
  bottom: 0px;
}

.feedback-right .img.img4 {
  width: 235px;
  height: 235px;
  right: 171px;
  top: 107px;
}

.feedback-right .img.img5 {
  top: 0px;
  right: 0px;
  width: 110px;
  height: 110px;
}

.feedback-right .img.img6 {
  right: 32px;
  bottom: 29px;
}

/* ==================Get Admit================== */
.get-admit {
  margin: 122px 0 8px;
  background: #def6f5;
}

.get-admit .body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.get-admit .heading-lv2 {
  margin-top: 76px;
  color: #070707;
  font-size: 4.2rem;
  font-weight: 700;
}

.get-admit .desc {
  margin-top: 35px;
  color: #767e7e;
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 88px;
}

.get-admit .btn {
  margin-left: 410px;
  width: 186px;
  height: 68px;
  border-radius: 14px;
  background: var(--primary-color);
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
}

/* ==================Footer================== */
.row-block {
  margin-top: 131px;
  display: flex;
}

.row-block .desc1 {
  color: #2e2e2e;
  font-size: 1.8rem;
  font-weight: 500;
}

.row-block .desc2 {
  color: #535353;
  font-size: 1.6rem;
  font-weight: 400;
}

.row-block .column {
  margin-left: 144px;
  display: flex;
  flex-direction: column;
}

.row-block .column1 .desc {
  margin-top: 20px;
}

.row-block .column2 .desc,
.row-block .column3 .desc {
  margin-top: 18px;
}

.row-block .column2 p:nth-child(4) {
  margin-top: 21px;
}

.row-block .column4 {
  margin-left: 137px;
}

.row-block .column4 p:nth-child(2) {
  margin-top: 18px;
}

.row-block .column .desc2:nth-child(2) {
  margin-top: 25px;
}

.row-block .column4 .social-media {
  display: flex;
  align-items: center;
  gap: 9px;
  margin-top: 18px;
}

.row-block .column4 .desc2:nth-child(2) {
  margin-top: 0px;
}

.footer .copyright {
  padding: 80px 0 50px;
  color: #b0b5b4;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
}
